ODOO_URL=http://localhost:8069
ODOO_DB=exam_db
ODOO_USERNAME=admin
ODOO_PASSWORD=admin

APP_DB_HOST=localhost
APP_DB_PORT=5433
APP_DB_NAME=sync_backend
APP_DB_USER=sync_user
APP_DB_PASSWORD=sync_password