# =====================
# ODOO
# =====================

ODOO_VERSION=17.0

ODOO_DB_HOST=db
ODOO_DB_PORT=5432

ODOO_POSTGRES_DB=
ODOO_POSTGRES_USER=
ODOO_POSTGRES_PASSWORD=


ODOO_MASTER_PASSWORD=

ODOO_URL=http://localhost:8069
ODOO_DATABASE=
ODOO_ADMIN_EMAIL=
ODOO_ADMIN_PASSWORD=
ODOO_ADMIN_LANGUAGE=en_US



# =====================
# BACKEND DATABASE
# =====================

BACKEND_DB_NAME=
BACKEND_DB_USER=
BACKEND_DB_PASSWORD=
BACKEND_DB_HOST=
BACKEND_DB_PORT=



# =====================
# BACKEND
# =====================

APP_NAME=Integration Backend
APP_VERSION=1.0.0

DATABASE_URL=postgresql+psycopg://backend:backend@backend-db:5432/backend