ODOO_DB_HOST=odoo-db
ODOO_DB_PORT=5432
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo
ODOO_DATABASE=odoo
ODOO_USERNAME=admin
ODOO_PASSWORD=admin
ODOO_URL=http://odoo:8069
ODOO_REQUEST_TIMEOUT=20
RETRY_ATTEMPTS=3
RETRY_DELAY_SECONDS=0.5
PAGE_SIZE=200

SYNC_DB_HOST=sync-db
SYNC_DB_PORT=5432
SYNC_DB_DATABASE=odoo_sync
SYNC_DB_USERNAME=odoo_sync
SYNC_DB_PASSWORD=odoo_sync

SYNC_LOCK_KEY=741017001

LOG_LEVEL=INFO
LOG_FORMAT=json
