DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

ODOO_HOST=
ODOO_PORT=
ODOO_DATABASE=
ODOO_DB_USERNAME=
ODOO_DB_PASSWORD=
ODOO_USERNAME=
ODOO_PASSWORD=
ODOO_URL=

RUN_MODE=
SYNC_INTERVAL_SECONDS=
LOG_LEVEL=